.container {
    width: 100%;
    
}

.column {
   
    
    box-sizing: border-box;
    float: left;
    height: 700px;
    width: 100%;
}

.column-1 {
    width: 25%;

    
}

.column-2 {
    width: 5%;
    
}

.column-3 {
    width: 65%;
    
}

.header {
    background-color: #d4d40c;
    
    padding: 10px;
    text-align: center;
   
    width: 100%; /* Hace que el encabezado ocupe todo el ancho de la columna */
}

.header-1 {
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
}

.header-2 {

   border-color: black;
   border-width: 1px;
   border-style:solid ;
   border-top: 0px;
   border-bottom:0px ;
}
.header-3 {
    width: 1275px;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    border-left-color: black;
    border-left-width: 1px;
    border-left-style:solid ;
    border-top: 0px;
    border-bottom:0px 
}





.sidebar {
    background: red;
    height: 350px;
    width: 100%;
    text-align: center;
    position: relative; /* Permite posicionar elementos absolutos en el sidebar */
}

.sidebar-1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.sidebar-2 {
    padding-top: 10px;
    border-top: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}







main {
    margin-top: 20px;
    width: 1295px;
    height: 590px; /* Establece la altura del elemento main en 300px */
    background: #0acd11; /* Color de fondo para simular igualdad de altura */
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    top: 50%; /* Alinea el encabezado verticalmente en el centro del main */
    left: 50%; /* Alinea el encabezado horizontalmente en el centro del main */
    transform: translate(-50%, -50%); /* Centra el encabezado de manera absoluta */
}



footer {
    width: 1295px;
    height: 100px;
    background: #3f0bcd;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer p {
    text-decoration: underline; /* Agrega un subrayado a los párrafos en el footer */
}

.resaltado {
    background: yellow; /* Color de fondo para el resaltado */
    padding: 5px; /* Espacio alrededor del texto resaltado */
}
.clear {
    clear: both;
}